#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NONE    0
#define ALPHA   0
#define NUM     1
#define FUNC    2

/ {
    behaviors {
        LSFT_CAPS: LEFT_SHIFT_CAPS {
            compatible = "zmk,behavior-tap-dance";
            label = "LSFT_CAPS";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp LSFT>, <&kp CAPS>;
        };

        NUM_FUNC: NUM_FUNCTION_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "NUM_FUNCTION_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&mo NUM>, <&mo FUNC>;
        };

        LALT_CTRL: LALT_CTRL_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "LALT_CTRL_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LALT>, <&kp RCTRL>;
        };

        RALT_NUM: RALT_NUM_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "ALT_NUM_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RALT>, <&mo NUM>;
        };

        LALT_NUM: LALT_NUM_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "ALT_NUM_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LALT>, <&mo NUM>;
        };

        TH: TAP_HOLD_KEYS {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        LCMD_NUM_FUNC: CMD_NUM_FUNC_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "CMD_NUM_FUNC_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LCMD>, <&mo NUM>, <&mo FUNC>;
        };

        RCMD_NUM_FUNC: CMD_NUM_FUNC_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "CMD_NUM_FUNC_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RCMD>, <&mo NUM>, <&mo FUNC>;
        };


    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none               &none               &none               &none               &none               &none               &none                           &none               &none               &none               &none               &none               &none               &none
                &none               &kp Q               &kp W               &kp E               &kp R               &kp T               &TH ESC GRAVE                   &kp BSPC            &kp Y               &kp U               &kp I               &kp O               &kp P               &none
                &none               &kp A               &kp S               &kp D               &kp F               &kp G                                                                   &kp H               &kp J               &kp K               &kp L               &kp SCLN            &none
                &none               &kp Z               &kp X               &kp C               &kp V               &kp B               &kp TAB                         &kp RET             &kp N               &kp M               &kp CMMA            &TH UP DOT          &kp FSLH            &none
                &none               &none               &kp UP              &NUM_FUNC           &TH LSFT SPC                                                                                                    &TH RSFT SPC        &kp LEFT            &kp DOWN            &kp RIGHT           &none
                                                                                                                    &LSFT_CAPS          &none                           &none               &kp SQT
                                                                                                &LCMD_NUM_FUNC      &LALT_CTRL          &none                           &none               &RALT_NUM           &RCMD_NUM_FUNC
                                                                                                                                        &none                           &none
            >;
        };

        number_layer {
            bindings = <
                &none               &none               &none               &none               &none               &none               &none                           &none               &none               &none               &none               &none               &none               &none
                &none               &kp TILDE           &kp UNDER           &kp PLUS            &kp LBRC            &kp RBRC            &TH ESC GRAVE                   &kp BSPC            &kp MINUS           &kp EQUAL           &kp LBKT            &kp RBKT            &kp BSLH            &none
                &none               &kp EXCL            &kp AT_SIGN         &kp HASH            &kp DLLR            &kp PRCNT                                                               &kp NUM_1           &kp NUM_2           &kp NUM_3           &kp NUM_4           &kp NUM_5           &none
                &none               &kp CARET           &kp AMPS            &kp ASTRK           &kp LPAR            &kp RPAR            &kp TAB                         &kp RET             &kp NUM_6           &kp NUM_7           &kp NUM_8           &kp NUM_9           &kp NUM_0           &none
                &none               &none               &kp UP              &NUM_FUNC           &TH LSFT SPC                                                                                                    &TH RSFT SPC        &kp LEFT            &kp DOWN            &kp RIGHT           &none
                                                                                                                    &LSFT_CAPS          &none                           &none               &kp SQT
                                                                                                &LCMD_NUM_FUNC      &LALT_CTRL          &none                           &none               &RALT_NUM           &RCMD_NUM_FUNC
                                                                                                                                        &none                           &none
            >;
        };

        function_layer {
            bindings = <
                &none               &none               &none               &none               &none               &none               &none                           &none               &none               &none               &none               &none               &none               &none
                &none               &none               &none               &none               &none               &none               &TH ESC GRAVE                   &kp BSPC            &kp F1              &kp F2              &kp F3              &kp F4              &kp F5              &none
                &none               &none               &none               &none               &none               &none                                                                   &kp F6              &kp F7              &kp F8              &kp F9              &kp F10             &none
                &none               &none               &bt BT_CLR          &none               &none               &none               &kp TAB                         &kp RET             &kp F11             &kp F12             &bt BT_CLR          &kp UP              &kp FSLH            &none
                &none               &none               &kp UP              &NUM_FUNC           &TH LSFT SPC                                                                                                    &TH RSFT SPC        &kp LEFT            &kp DOWN            &kp RIGHT           &none
                                                                                                                    &LSFT_CAPS          &none                           &none               &kp SQT
                                                                                                &LCMD_NUM_FUNC      &LALT_CTRL          &none                           &none               &RALT_NUM           &RCMD_NUM_FUNC
                                                                                                                                        &none                           &none
            >;
        };
    };
};
